### ë°ì´í„° í™•ì¸

1. DB ì ‘ì†

In [2]:
import pandas as pd
from pymongo import MongoClient

# === [ì„¤ì •] ===
MONGO_URI = "mongodb://localhost:27017/"
DB_NAME = "f1_analytics_db"

# DB ì—°ê²°
client = MongoClient(MONGO_URI)
db = client[DB_NAME]

print(f"âœ… MongoDB Connected: {DB_NAME}")

âœ… MongoDB Connected: f1_analytics_db

2. ì „ì²´ ë°ì´í„° í˜„í™©

In [3]:
# ì»¬ë ‰ì…˜ ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
collections = db.list_collection_names()
summary_data = []

print(f"ğŸ“Š ì „ì²´ ì»¬ë ‰ì…˜ ê°œìˆ˜: {len(collections)}ê°œ")

for col_name in collections:
    # ë¬¸ì„œ ê°œìˆ˜ ì¹´ìš´íŠ¸
    count = db[col_name].count_documents({})

    # ìš©ëŸ‰ í™•ì¸ (MB ë‹¨ìœ„)
    stats = db.command("collstats", col_name)
    size_mb = stats['size'] / (1024 * 1024)

    summary_data.append({
        "Collection": col_name,
        "Documents": count,
        "Size (MB)": round(size_mb, 2)
    })

# DataFrameìœ¼ë¡œ ê¹”ë”í•˜ê²Œ ì¶œë ¥
df_summary = pd.DataFrame(summary_data).sort_values("Documents", ascending=False)
display(df_summary)

ğŸ“Š ì „ì²´ ì»¬ë ‰ì…˜ ê°œìˆ˜: 4ê°œ

   Collection  Documents  Size (MB)
2   telemetry  215925506   47542.93
3        laps     220157      47.90
0     results       6837       1.64
1  races_meta        342       0.08

3. races_meta(ê²½ê¸° ì •ë³´) ìƒ˜í”Œ í™•ì¸

In [7]:
print("ğŸ” [races_meta] ìƒ˜í”Œ ë°ì´í„° (ìƒìœ„ 5ê°œ)")

# 5ê°œë§Œ ê°€ì ¸ì˜¤ê¸°
cursor = db.races_meta.find().limit(5)
df_meta = pd.DataFrame(list(cursor))

if not df_meta.empty:
    # _id ì»¬ëŸ¼ì€ ê¸¸ì–´ì„œ ë³´ê¸° ë¶ˆí¸í•˜ë¯€ë¡œ ì œê±°í•˜ê³  ì¶œë ¥
    display(df_meta.drop(columns=['_id'], errors='ignore'))
else:
    print("âŒ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤.")

ğŸ” [races_meta] ìƒ˜í”Œ ë°ì´í„° (ìƒìœ„ 5ê°œ)

,Avg_AirTemp,Avg_TrackTemp,Circuit,Country,Date,IsRainy,Location,Round,SessionType,TotalLaps,Year
0,24.7,30.5,Australian Grand Prix,Australia,2018-03-24 06:00:00,False,Melbourne,1,Qualifying,NaN,2018
1,24.1,36.3,Australian Grand Prix,Australia,2018-03-25 05:10:00,True,Melbourne,1,Race,58.0,2018
2,28.2,31.9,Bahrain Grand Prix,Bahrain,2018-04-07 15:00:00,False,Sakhir,2,Qualifying,NaN,2018
3,28.0,32.2,Bahrain Grand Prix,Bahrain,2018-04-08 15:10:00,False,Sakhir,2,Race,57.0,2018
4,12.8,15.5,Chinese Grand Prix,China,2018-04-14 06:00:00,False,Shanghai,3,Qualifying,NaN,2018

4. results(ê²½ê¸° ê²°ê³¼) ìƒ˜í”Œ í™•ì¸

In [6]:
print("ğŸ” [results] ìƒ˜í”Œ ë°ì´í„° (ìƒìœ„ 5ê°œ)")

cursor = db.results.find().limit(5)
df_results = pd.DataFrame(list(cursor))

if not df_results.empty:
    display(df_results.drop(columns=['_id'], errors='ignore'))
else:
    print("âŒ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤.")

ğŸ” [results] ìƒ˜í”Œ ë°ì´í„° (ìƒìœ„ 5ê°œ)

,Year,Round,SessionType,Driver,DriverNumber,Team,Position,GridPosition,Points,Status,Q1,Q2,Q3,TimeDelta
0,2018,1,Qualifying,HAM,44,Mercedes,1,0,0.0,,0 days 00:01:22.824000,0 days 00:01:22.051000,0 days 00:01:21.164000,None
1,2018,1,Qualifying,RAI,7,Ferrari,2,0,0.0,,0 days 00:01:23.096000,0 days 00:01:22.507000,0 days 00:01:21.828000,None
2,2018,1,Qualifying,VET,5,Ferrari,3,0,0.0,,0 days 00:01:23.348000,0 days 00:01:21.944000,0 days 00:01:21.838000,None
3,2018,1,Qualifying,VER,33,Red Bull Racing,4,0,0.0,,0 days 00:01:23.483000,0 days 00:01:22.416000,0 days 00:01:21.879000,None
4,2018,1,Qualifying,RIC,3,Red Bull Racing,5,0,0.0,,0 days 00:01:23.494000,0 days 00:01:22.897000,0 days 00:01:22.152000,None

5. laps(ë© íƒ€ì„) ìƒ˜í”Œ í™•ì¸

In [8]:
print("ğŸ” [laps] ìƒ˜í”Œ ë°ì´í„° (ìƒìœ„ 5ê°œ)")

cursor = db.laps.find().limit(5)
df_laps = pd.DataFrame(list(cursor))

if not df_laps.empty:
    # ì£¼ìš” ì»¬ëŸ¼ë§Œ ë³´ê¸°
    cols = ['Year', 'Round', 'Driver', 'LapNumber', 'LapTime_Sec', 'Compound', 'TyreLife']
    display(df_laps[cols].head())
else:
    print("âŒ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤.")

ğŸ” [laps] ìƒ˜í”Œ ë°ì´í„° (ìƒìœ„ 5ê°œ)

   Year  Round Driver  LapNumber  LapTime_Sec   Compound  TyreLife
0  2018      1    HAM          1      107.929  ULTRASOFT         1
1  2018      1    HAM          2       83.802  ULTRASOFT         2
2  2018      1    HAM          3      112.536  ULTRASOFT         3
3  2018      1    HAM          4       83.263  ULTRASOFT         4
4  2018      1    HAM          5      118.751  ULTRASOFT         5

6. telemetry(ì´ˆë‹¹ ì£¼í–‰ ë°ì´í„°) ìƒì„¸ ì ê²€

In [9]:
print("ğŸ” [telemetry] ìƒ˜í”Œ ë°ì´í„° ë° êµ¬ì¡° ì ê²€")

cursor = db.telemetry.find().limit(5)
df_tel = pd.DataFrame(list(cursor))

if not df_tel.empty:
    # 1. ë°ì´í„° ìƒ˜í”Œ ì¶œë ¥
    display(df_tel.drop(columns=['_id'], errors='ignore'))

    # 2. ë“œë¼ì´ë²„ ID íƒ€ì… ì²´í¬
    sample_driver = df_tel['Driver'].iloc[0]
    print(f"\nğŸ‘‰ [ì¤‘ìš”] Driver ì»¬ëŸ¼ ë°ì´í„° ì˜ˆì‹œ: {sample_driver}")
    print(f"ğŸ‘‰ [ì¤‘ìš”] Driver ì»¬ëŸ¼ ë°ì´í„° íƒ€ì…: {type(sample_driver)}")

    # 3. LapNumber ì»¬ëŸ¼ ì¡´ì¬ ì—¬ë¶€ ì²´í¬
    if 'LapNumber' in df_tel.columns:
        print("âœ… LapNumber ì»¬ëŸ¼ì´ ì¡´ì¬í•©ë‹ˆë‹¤. (ë¶„ì„ì´ ì‰½ìŠµë‹ˆë‹¤)")
    else:
        print("âš ï¸ LapNumber ì»¬ëŸ¼ì´ ì—†ìŠµë‹ˆë‹¤. (ê±°ë¦¬ ê¸°ë°˜ ìŠ¬ë¼ì´ì‹± í•„ìš”)")
else:
    print("âŒ í…”ë ˆë©”íŠ¸ë¦¬ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤.")

ğŸ” [telemetry] ìƒ˜í”Œ ë°ì´í„° ë° êµ¬ì¡° ì ê²€

,Date,SessionTime,Distance,Speed,RPM,Throttle,Brake,DRS,X,Y,Z,Year,Round,SessionType,Driver
0,2018-03-24 06:03:06.303,426.138,0.532643,111.287507,10684.142494,60.683337,False,8,-10222.000028,-6819.000026,87.0,2018,1,Qualifying,44
1,2018-03-24 06:03:06.322,426.157,1.143611,112.000000,10766.000000,61.000000,False,8,-10222.000028,-6819.000026,87.0,2018,1,Qualifying,44
2,2018-03-24 06:03:06.465,426.300,5.850070,116.766669,10020.016333,67.554170,False,8,-10222.000000,-6819.000000,87.0,2018,1,Qualifying,44
3,2018-03-24 06:03:06.562,426.397,9.143611,120.000000,9514.000000,72.000000,False,8,-10221.999951,-6818.999955,87.0,2018,1,Qualifying,44
4,2018-03-24 06:03:06.765,426.600,16.310646,126.766669,9984.283482,67.770832,False,8,-10222.000000,-6819.000000,87.0,2018,1,Qualifying,44

ğŸ‘‰ [ì¤‘ìš”] Driver ì»¬ëŸ¼ ë°ì´í„° ì˜ˆì‹œ: 44
ğŸ‘‰ [ì¤‘ìš”] Driver ì»¬ëŸ¼ ë°ì´í„° íƒ€ì…: <class 'str'>
âš ï¸ LapNumber ì»¬ëŸ¼ì´ ì—†ìŠµë‹ˆë‹¤. (ê±°ë¦¬ ê¸°ë°˜ ìŠ¬ë¼ì´ì‹± í•„ìš”)

7. ê²°ì¸¡ì¹˜ í™•ì¸

In [11]:
# í™•ì¸í•  ì»¬ë ‰ì…˜ ë¦¬ìŠ¤íŠ¸
target_collections = {
    "races_meta": {}, # ì „ì²´ ì¡°íšŒ
    "results": {},    # ì „ì²´ ì¡°íšŒ
    "laps": {},       # ì „ì²´ ì¡°íšŒ
    "telemetry": {"limit": 100000} # âš ï¸ ë„ˆë¬´ ë§ìœ¼ë¯€ë¡œ ìµœì‹  10ë§Œê°œë§Œ ìƒ˜í”Œë§
}

for col_name, options in target_collections.items():
    print(f"ğŸ“Š [ {col_name} ] ê²°ì¸¡ì¹˜ í™•ì¸")

    # ë°ì´í„° ë¡œë“œ
    if "limit" in options:
        # ìµœì‹ ìˆœìœ¼ë¡œ ì •ë ¬í•´ì„œ ê°€ì ¸ì˜¤ê¸° (ObjectId ì—­ìˆœ)
        cursor = db[col_name].find().sort('_id', -1).limit(options["limit"])
        print(f"   (âš ï¸ ë°ì´í„°ê°€ ë§ì•„ ìµœì‹  {options['limit']}ê°œë§Œ ìƒ˜í”Œë§í•˜ì—¬ ê²€ì‚¬í•©ë‹ˆë‹¤)")
    else:
        cursor = db[col_name].find()

    df = pd.DataFrame(list(cursor))

    if df.empty:
        print("   âŒ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤.\n")
        continue

    # _id ì»¬ëŸ¼ ì œê±°
    if '_id' in df.columns:
        df = df.drop(columns=['_id'])

    # ê²°ì¸¡ì¹˜ ê³„ì‚°
    null_counts = df.isnull().sum()
    null_percent = (df.isnull().sum() / len(df)) * 100

    # ê²°ì¸¡ì¹˜ê°€ í•˜ë‚˜ë¼ë„ ìˆëŠ” ì»¬ëŸ¼ë§Œ í•„í„°ë§
    missing_df = pd.DataFrame({'Missing Count': null_counts, 'Percent (%)': null_percent})
    missing_df = missing_df[missing_df['Missing Count'] > 0].sort_values('Percent (%)', ascending=False)

    if not missing_df.empty:
        display(missing_df.style.format({'Percent (%)': '{:.2f}%'}))
    else:
        print("   âœ… ê²°ì¸¡ì¹˜ ì—†ìŒ (Clean Data)")

    print("-" * 50)

ğŸ“Š [ races_meta ] ê²°ì¸¡ì¹˜ í™•ì¸

--------------------------------------------------
ğŸ“Š [ results ] ê²°ì¸¡ì¹˜ í™•ì¸

--------------------------------------------------
ğŸ“Š [ laps ] ê²°ì¸¡ì¹˜ í™•ì¸

--------------------------------------------------
ğŸ“Š [ telemetry ] ê²°ì¸¡ì¹˜ í™•ì¸
   (âš ï¸ ë°ì´í„°ê°€ ë§ì•„ ìµœì‹  100000ê°œë§Œ ìƒ˜í”Œë§í•˜ì—¬ ê²€ì‚¬í•©ë‹ˆë‹¤)
   âœ… ê²°ì¸¡ì¹˜ ì—†ìŒ (Clean Data)
--------------------------------------------------

ğŸ“š ì»¬ëŸ¼(Feature) ìƒì„¸ ì„¤ëª…ì„œ
<br/>
1. races_meta (ê²½ê¸° ë©”íƒ€ë°ì´í„°)
- Round: ì‹œì¦Œ ë‚´ ê²½ê¸° ìˆœì„œ (ì˜ˆ: 1, 2, 3...)
- SessionType: Qualifying (ì˜ˆì„ ) ë˜ëŠ” Race (ë³¸ì„ )
- Circuit: ì„œí‚· ì´ë¦„ (ì˜ˆ: Bahrain Grand Prix)
- Avg_AirTemp: í‰ê·  ê¸°ì˜¨ (Â°C) - íƒ€ì´ì–´ ì˜ˆì—´ê³¼ ì—”ì§„ ì¿¨ë§ì— ì˜í–¥
- Avg_TrackTemp: í‰ê·  íŠ¸ë™ ì˜¨ë„ (Â°C) - íƒ€ì´ì–´ ë§ˆëª¨ë„(Degradation) ë¶„ì„ì˜ í•µì‹¬ ë³€ìˆ˜
- IsRainy: ìš°ì²œ ì—¬ë¶€ (True/False) - ë¹„ê°€ ì˜¤ë©´ ë©íƒ€ì„ ë¶„ì„ì—ì„œ ì œì™¸í•˜ê±°ë‚˜ ë³„ë„ ì·¨ê¸‰í•´ì•¼ í•¨
<br/>

2. results (ê²½ê¸° ê²°ê³¼)
- Driver: ë“œë¼ì´ë²„ ì´ë¦„ ì•½ì–´ (ì˜ˆ: VER, HAM)
- DriverNumber: ë“œë¼ì´ë²„ ì—”íŠ¸ë¦¬ ë„˜ë²„ (ì˜ˆ: 1, 44) - í…”ë ˆë©”íŠ¸ë¦¬ ë§¤í•‘ ì‹œ ì¤‘ìš”
- Position: ìµœì¢… ìˆœìœ„
- GridPosition: ì¶œë°œ ê·¸ë¦¬ë“œ ìˆœìœ„ - ìˆœìœ„ ìƒìŠ¹í­(Overtaking) ê³„ì‚° ì‹œ ì‚¬ìš©
- Status: ì™„ì£¼ ì—¬ë¶€ (Finished, Collision, Engine ë“±) - ì‹ ë¢°ì„± ë¶„ì„ ì‹œ Finishedê°€ ì•„ë‹Œ ë°ì´í„° í™œìš©
- Points: íšë“ í¬ì¸íŠ¸
<br/>

3. laps (ë© íƒ€ì„ ë°ì´í„°)
- LapNumber: ë© ë²ˆí˜¸
- LapTime_Sec: í•´ë‹¹ ë©ì„ ë„ëŠ” ë° ê±¸ë¦° ì‹œê°„ (ì´ˆ) - ê°€ì¥ ì¤‘ìš”í•œ íƒ€ê²Ÿ ë³€ìˆ˜($Y$)
- Sector1_Sec, 2, 3: ì„¹í„°ë³„ êµ¬ê°„ ê¸°ë¡
- Compound: íƒ€ì´ì–´ ì¢…ë¥˜ (SOFT, MEDIUM, HARD, INTERMEDIATE, WET)
- TyreLife: í•´ë‹¹ íƒ€ì´ì–´ë¥¼ ë¼ê³  ë‹¬ë¦° ë© ìˆ˜ (íƒ€ì´ì–´ ë‚˜ì´)
- IsAccurate: [ì¤‘ìš”] ê¸°ë¡ì´ ìœ íš¨í•œì§€ ì—¬ë¶€.
    - True: ì •ìƒì ì¸ ì–´íƒ ë©.
    - False: í”¼íŠ¸ ì¸/ì•„ì›ƒ, ì„¸ì´í”„í‹°ì¹´ ìƒí™© ë“±. (ë¶„ì„ ì‹œ ë°˜ë“œì‹œ Trueì¸ ê²ƒë§Œ í•„í„°ë§í•´ì•¼ í•¨)
<br/>

4. telemetry (ì´ˆë‹¹ ì£¼í–‰ ë°ì´í„°)
- Date: íƒ€ì„ìŠ¤íƒ¬í”„
- Speed: ì°¨ëŸ‰ ì†ë„ (km/h) - ìµœê³  ì†ë„ ë¶„ì„ìš©
- RPM: ì—”ì§„ íšŒì „ìˆ˜
- Gear: í˜„ì¬ ê¸°ì–´ ë‹¨ìˆ˜ (1~8)
- Throttle: ì•…ì…€ í˜ë‹¬ ì „ê°œëŸ‰ (0~100) - 100ì´ë©´ í’€ ì•…ì…€
- Brake: ë¸Œë ˆì´í¬ í˜ë‹¬ ì—¬ë¶€ (0 ë˜ëŠ” 100, í˜¹ì€ ì••ë ¥ê°’)
- DRS: ê°€ë³€ ë¦¬ì–´ ìœ™ ì‘ë™ ì—¬ë¶€ (0: ë‹«í˜, 10~14: ì—´ë¦¼) - ì§ì„  êµ¬ê°„ì—ì„œ ì†ë„ ì°¨ì´ ìœ ë°œ
- X, Y, Z: íŠ¸ë™ ë‚´ GPS ì¢Œí‘œ - íŠ¸ë™ ë§µ ê·¸ë¦´ ë•Œ ì‚¬ìš©
- Distance: í•´ë‹¹ ë© ì‹œì‘ì ìœ¼ë¡œë¶€í„°ì˜ ê±°ë¦¬ (ë¯¸í„°) - ê·¸ë˜í”„ Xì¶•(ê±°ë¦¬) ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©